# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

In [67]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 5
generator = square_root_generator(limit)

for sqrt_value in generator:
    print(sqrt_value)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [33]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

# Solution: First make sure that the following modules are installed:

In [15]:
#Install the dependencies
%%capture
!pip install dlt[duckdb]

## 1. Use a generator

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

In [74]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 5
generator = square_root_generator(limit)

for sqrt_value in generator:
    print(sqrt_value)


######
# Question 1: What is the sum of the outputs of the generator for limit = 5?
limit = 5
generator = square_root_generator(limit)
total = 0

for sqrt_value in generator:
    total += sqrt_value
print('\n--------------------------\nQuestion 1:')
print(f'Total: {total}')


######
# Question 2: What is the 13th number yielded
limit = 13
generator = square_root_generator(limit)
for idx, sqrt_value in enumerate(generator):
    if idx == limit-1:
      print('\n--------------------------\nQuestion 2:')
      print(f'{idx+1}th number: {sqrt_value}')

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979

--------------------------
Question 1:
Total: 8.382332347441762

--------------------------
Question 2:
13th number: 3.605551275463989

## 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

In [75]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}

for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

### 1. Load the first generator and calculate the sum of ages of all people. Make

In [76]:
# Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.

import dlt
# generator = people_1()
# for people in generator:
generator_pipeline = dlt.pipeline(destination='duckdb', dataset_name='exercise_02')
info = generator_pipeline.run(
      people_1(),
      table_name='test_table',
      write_disposition='replace'
  )
print(info)

# create a connection to destination
conn = duckdb.connect(f'{generator_pipeline.pipeline_name}.duckdb')
print(generator_pipeline.pipeline_name)

# set the dataset
conn.sql(f'SET search_path = {generator_pipeline.dataset_name}')
print('Loaded tables: ')
display(conn.sql('show tables'))

# sample of table
info = conn.sql('SELECT * from test_table limit 100')
print('\n-----------------------')
print('Sample data (quite a small table, so it`s all the data)')
print(info)

# sum of all ages of people
info = conn.sql('SELECT sum(age) sum_ages from test_table')
print('\n-----------------------')
print('Sum of all ages of people')
print(info)

Pipeline dlt_colab_kernel_launcher load step completed in 0.18 seconds
1 load package(s) were loaded to destination duckdb and into dataset exercise_02
The duckdb destination used duckdb:////content/dlt_colab_kernel_launcher.duckdb location to store data
Load package 1707955237.0338879 is LOADED and contains no failed jobs
dlt_colab_kernel_launcher
Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ test_table          │
└─────────────────────┘

-----------------------
Sample data (quite a small table, so it`s all the data)
┌───────┬──────────┬───────┬─────────┬────────────────────┬────────────────┬────────────┐
│  id   │   name   │  age  │  city   │    _dlt_load_id    │    _dlt_id     │ occupation │
│ int64 │ varchar  │ int64 │ varchar │      varchar       │    varchar     │  varchar   │
├───────┼──────────┼───────┼─────────┼────────────────────┼────────────────┼────────────┤
│     1 │ Person_1 │    26 │ City_A  │ 1707955237.0338879 │ 7AxRRv9SdmUDNQ │ NULL       │
│     2 │ Person_2 │    27 │ City_A  │ 1707955237.0338879 │ /HidbuaWqLfh5w │ NULL       │
│     3 │ Person_3 │    28 │ City_A  │ 1707955237.0338879 │ S6E7u6X4x2QpQw │ NULL       │
│     4 │ Person_4 │    29 │ City_A  │ 1707955237.0338879 │ raOrHZfcBTeljQ │ NULL       │
│     5 │ Person_5 │    30 │ City_A  │ 1707955237.0338879 │ PQVSMyzw2Znjng │ NULL       │
└───────┴──────────┴───────┴─────────┴────────────────────┴────────────────┴────────────┘


-----------------------
Sum of all ages of people
┌──────────┐
│ sum_ages │
│  int128  │
├──────────┤
│      140 │
└──────────┘

### 2. Append the second generator to the same table as the first.

In [77]:
# Append the second generator to the same table as the first.

import dlt
# generator = people_2()
# for people in generator:

generator_pipeline = dlt.pipeline(destination='duckdb', dataset_name='exercise_02')
info = generator_pipeline.run(
      people_2(),
      table_name='test_table',
      write_disposition='append'
  )
print(info)

Pipeline dlt_colab_kernel_launcher load step completed in 0.17 seconds
1 load package(s) were loaded to destination duckdb and into dataset exercise_02
The duckdb destination used duckdb:////content/dlt_colab_kernel_launcher.duckdb location to store data
Load package 1707955241.2830498 is LOADED and contains no failed jobs

### 3. **After correctly appending the data, calculate the sum of all ages of people.**

In [78]:
# After correctly appending the data, calculate the sum of all ages of people.
import duckdb

# create a connection to destination
conn = duckdb.connect(f'{generator_pipeline.pipeline_name}.duckdb')
print(generator_pipeline.pipeline_name)

# set the dataset
conn.sql(f'SET search_path = {generator_pipeline.dataset_name}')
print('Loaded tables: ')
display(conn.sql('show tables'))

# sample of table
info = conn.sql('SELECT * from test_table limit 100')
print('\n-----------------------')
print('Sample data (quite a small table, so it`s all the data)')
print(info)

# sum of all ages of people
info = conn.sql('SELECT sum(age) sum_ages from test_table')
print('\n-----------------------')
print('Sum of all ages of people')
print(info)

dlt_colab_kernel_launcher
Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ test_table          │
└─────────────────────┘

-----------------------
Sample data (quite a small table, so it`s all the data)
┌───────┬──────────┬───────┬─────────┬────────────────────┬────────────────┬────────────┐
│  id   │   name   │  age  │  city   │    _dlt_load_id    │    _dlt_id     │ occupation │
│ int64 │ varchar  │ int64 │ varchar │      varchar       │    varchar     │  varchar   │
├───────┼──────────┼───────┼─────────┼────────────────────┼────────────────┼────────────┤
│     1 │ Person_1 │    26 │ City_A  │ 1707955237.0338879 │ 7AxRRv9SdmUDNQ │ NULL       │
│     2 │ Person_2 │    27 │ City_A  │ 1707955237.0338879 │ /HidbuaWqLfh5w │ NULL       │
│     3 │ Person_3 │    28 │ City_A  │ 1707955237.0338879 │ S6E7u6X4x2QpQw │ NULL       │
│     4 │ Person_4 │    29 │ City_A  │ 1707955237.0338879 │ raOrHZfcBTeljQ │ NULL       │
│     5 │ Person_5 │    30 │ City_A  │ 1707955237.0338879 │ PQVSMyzw2Znjng │ NULL       │
│     3 │ Person_3 │    33 │ City_B  │ 1707955241.2830498 │ JFWMVYCDtDuHSw │ Job_3      │
│     4 │ Person_4 │    34 │ City_B  │ 1707955241.2830498 │ sm/uEN04AhtNwA │ Job_4      │
│     5 │ Person_5 │    35 │ City_B  │ 1707955241.2830498 │ CpwHPguZyNoWPw │ Job_5      │
│     6 │ Person_6 │    36 │ City_B  │ 1707955241.2830498 │ OTkl+IxIt/69NQ │ Job_6      │
│     7 │ Person_7 │    37 │ City_B  │ 1707955241.2830498 │ mfqTUodJxMVy+Q │ Job_7      │
│     8 │ Person_8 │    38 │ City_B  │ 1707955241.2830498 │ 0Wmijk5SYvXyRQ │ Job_8      │
├───────┴──────────┴───────┴─────────┴────────────────────┴────────────────┴────────────┤
│ 11 rows                                                                     7 columns │
└───────────────────────────────────────────────────────────────────────────────────────┘


-----------------------
Sum of all ages of people
┌──────────┐
│ sum_ages │
│  int128  │
├──────────┤
│      353 │
└──────────┘

## 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

In [79]:
import dlt
# generator = people_1()
# for people in generator:
generator_pipeline = dlt.pipeline(destination='duckdb', dataset_name='exercise_02')
info = generator_pipeline.run(
      people_1(),
      table_name='test_table',
      write_disposition='replace',
      primary_key='id'
  )
print(info)

# create a connection to destination
conn = duckdb.connect(f'{generator_pipeline.pipeline_name}.duckdb')
print(generator_pipeline.pipeline_name)

# set the dataset
conn.sql(f'SET search_path = {generator_pipeline.dataset_name}')
print('Loaded tables: ')
display(conn.sql('show tables'))

# sample of table
info = conn.sql('SELECT * from test_table limit 100')
print('\n-----------------------')
print('Sample data (quite a small table, so it`s all the data)')
print(info)

# sum of all ages of people
info = conn.sql('SELECT sum(age) from test_table')
print('\n-----------------------')
print('Sum of all ages of people')
print(info)

Pipeline dlt_colab_kernel_launcher load step completed in 0.18 seconds
1 load package(s) were loaded to destination duckdb and into dataset exercise_02
The duckdb destination used duckdb:////content/dlt_colab_kernel_launcher.duckdb location to store data
Load package 1707955248.8420208 is LOADED and contains no failed jobs
dlt_colab_kernel_launcher
Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ test_table          │
└─────────────────────┘

-----------------------
Sample data (quite a small table, so it`s all the data)
┌───────┬──────────┬───────┬─────────┬────────────────────┬────────────────┬────────────┐
│  id   │   name   │  age  │  city   │    _dlt_load_id    │    _dlt_id     │ occupation │
│ int64 │ varchar  │ int64 │ varchar │      varchar       │    varchar     │  varchar   │
├───────┼──────────┼───────┼─────────┼────────────────────┼────────────────┼────────────┤
│     1 │ Person_1 │    26 │ City_A  │ 1707955248.8420208 │ iMSFYwAwkLjqiQ │ NULL       │
│     2 │ Person_2 │    27 │ City_A  │ 1707955248.8420208 │ odXabrrTOj0cDg │ NULL       │
│     3 │ Person_3 │    28 │ City_A  │ 1707955248.8420208 │ tkA5voJHIJwHew │ NULL       │
│     4 │ Person_4 │    29 │ City_A  │ 1707955248.8420208 │ zyzsyLVpH0Sv2w │ NULL       │
│     5 │ Person_5 │    30 │ City_A  │ 1707955248.8420208 │ lfY1K5V4YdUxZQ │ NULL       │
└───────┴──────────┴───────┴─────────┴────────────────────┴────────────────┴────────────┘


-----------------------
Sum of all ages of people
┌──────────┐
│ sum(age) │
│  int128  │
├──────────┤
│      140 │
└──────────┘

In [80]:
import dlt
# generator = people_2()
# for people in generator:

generator_pipeline = dlt.pipeline(destination='duckdb', dataset_name='exercise_02')
info = generator_pipeline.run(
      people_2(),
      table_name='test_table',
      write_disposition='merge',
      primary_key='id'
  )
print(info)

# create a connection to destination
conn = duckdb.connect(f'{generator_pipeline.pipeline_name}.duckdb')
print(generator_pipeline.pipeline_name)

# set the dataset
conn.sql(f'SET search_path = {generator_pipeline.dataset_name}')
print('Loaded tables: ')
display(conn.sql('show tables'))

# sample of table
info = conn.sql('SELECT * from test_table limit 100')
print('\n-----------------------')
print('Sample data (quite a small table, so it`s all the data)')
print(info)

# sum of all ages of people
info = conn.sql('SELECT sum(age) from test_table')
print('\n-----------------------')
print('Sum of all ages of people')
print(info)

Pipeline dlt_colab_kernel_launcher load step completed in 0.33 seconds
1 load package(s) were loaded to destination duckdb and into dataset exercise_02
The duckdb destination used duckdb:////content/dlt_colab_kernel_launcher.duckdb location to store data
Load package 1707955253.588736 is LOADED and contains no failed jobs
dlt_colab_kernel_launcher
Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ test_table          │
└─────────────────────┘

-----------------------
Sample data (quite a small table, so it`s all the data)
┌───────┬──────────┬───────┬─────────┬────────────────────┬────────────────┬────────────┐
│  id   │   name   │  age  │  city   │    _dlt_load_id    │    _dlt_id     │ occupation │
│ int64 │ varchar  │ int64 │ varchar │      varchar       │    varchar     │  varchar   │
├───────┼──────────┼───────┼─────────┼────────────────────┼────────────────┼────────────┤
│     1 │ Person_1 │    26 │ City_A  │ 1707955248.8420208 │ iMSFYwAwkLjqiQ │ NULL       │
│     2 │ Person_2 │    27 │ City_A  │ 1707955248.8420208 │ odXabrrTOj0cDg │ NULL       │
│     5 │ Person_5 │    35 │ City_B  │ 1707955253.588736  │ F85KYWItJ79czQ │ Job_5      │
│     8 │ Person_8 │    38 │ City_B  │ 1707955253.588736  │ ObM8A46uzEFenA │ Job_8      │
│     7 │ Person_7 │    37 │ City_B  │ 1707955253.588736  │ haJHpXMRZR9/bQ │ Job_7      │
│     4 │ Person_4 │    34 │ City_B  │ 1707955253.588736  │ JKWYLZDSz7hqKw │ Job_4      │
│     3 │ Person_3 │    33 │ City_B  │ 1707955253.588736  │ 6U9sBBlItlTBAg │ Job_3      │
│     6 │ Person_6 │    36 │ City_B  │ 1707955253.588736  │ ZRgXPEjouEbD2A │ Job_6      │
└───────┴──────────┴───────┴─────────┴────────────────────┴────────────────┴────────────┘


-----------------------
Sum of all ages of people
┌──────────┐
│ sum(age) │
│  int128  │
├──────────┤
│      266 │
└──────────┘

Questions? difficulties? We are here to help.
- DTC data engineering course channel: https://datatalks-club.slack.com/archives/C01FABYF2RG
- dlt's DTC cohort channel: https://dlthub-community.slack.com/archives/C06GAEX2VNX