In [1]:
import pyspark
from pyspark.sql import SparkSession
pyspark.__version__

'3.4.2'

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

24/03/03 16:40:06 WARN Utils: Your hostname, pedro resolves to a loopback address: 127.0.1.1; using 192.168.15.20 instead (on interface wlp5s0)
24/03/03 16:40:06 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/03 16:40:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/03 16:40:07 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [ ]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2021-01.parquet

In [3]:
import pandas as pd
pd.__version__

'2.1.3'

In [ ]:
# the original demo uses a csv file
# thus, optional - parquet to csv if neededto follow along
df = pd.read_parquet('fhvhv_tripdata_2021-01.parquet')
df.to_csv('fhvhv_tripdata_2021-01.csv')
df

In [19]:
df = spark.read \
    .option('header', 'true') \
    .parquet('fhvhv_tripdata_2021-01.parquet')

In [21]:
df.schema

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('originating_base_num', StringType(), True), StructField('request_datetime', TimestampType(), True), StructField('on_scene_datetime', TimestampType(), True), StructField('pickup_datetime', TimestampType(), True), StructField('dropoff_datetime', TimestampType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('trip_miles', DoubleType(), True), StructField('trip_time', LongType(), True), StructField('base_passenger_fare', DoubleType(), True), StructField('tolls', DoubleType(), True), StructField('bcf', DoubleType(), True), StructField('sales_tax', DoubleType(), True), StructField('congestion_surcharge', DoubleType(), True), StructField('airport_fee', DoubleType(), True), StructField('tips', DoubleType(), True), StructField('driver_pay', DoubleType(), True), StructField('shared_request_flag', StringType(), True), StructField('shared_match_flag', StringType(), True), StructField('access_a_ride_flag', StringType(), True), StructField('wav_request_flag', StringType(), True), StructField('wav_match_flag', StringType(), True)])

In [ ]:
df.head(5)

In [ ]:
df.show()

In [27]:
#using a sample of the entire file
!head -n 1001 fhvhv_tripdata_2021-01.csv > head.csv

In [4]:
df_pandas = pd.read_csv('head.csv')
df_pandas

,Unnamed: 0,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,0,HV0003,B02682,B02682,2021-01-01 00:28:09,2021-01-01 00:31:42,2021-01-01 00:33:44,2021-01-01 00:49:07,230,166,...,1.98,2.75,NaN,0.00,14.99,N,N,,N,N
1,1,HV0003,B02682,B02682,2021-01-01 00:45:56,2021-01-01 00:55:19,2021-01-01 00:55:19,2021-01-01 01:18:21,152,167,...,1.63,0.00,NaN,0.00,17.06,N,N,,N,N
2,2,HV0003,B02764,B02764,2021-01-01 00:21:15,2021-01-01 00:22:41,2021-01-01 00:23:56,2021-01-01 00:38:05,233,142,...,1.25,2.75,NaN,0.94,12.98,N,N,,N,N
3,3,HV0003,B02764,B02764,2021-01-01 00:39:12,2021-01-01 00:42:37,2021-01-01 00:42:51,2021-01-01 00:45:50,142,143,...,0.70,2.75,NaN,0.00,7.41,N,N,,N,N
4,4,HV0003,B02764,B02764,2021-01-01 00:46:11,2021-01-01 00:47:17,2021-01-01 00:48:14,2021-01-01 01:08:42,143,78,...,2.41,2.75,NaN,0.00,22.44,N,N,,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,HV0003,B02871,B02871,2021-01-01 00:30:14,2021-01-01 00:31:49,2021-01-01 00:33:43,2021-01-01 00:47:52,255,61,...,1.49,0.00,NaN,1.88,12.72,N,N,,N,N
996,996,HV0005,B02510,NaN,2021-01-01 00:50:45,NaN,2021-01-01 00:53:10,2021-01-01 01:21:09,114,21,...,3.31,2.75,NaN,0.00,29.34,N,N,N,N,N
997,997,HV0003,B02512,B02512,2021-01-01 00:15:04,2021-01-01 00:18:08,2021-01-01 00:18:35,2021-01-01 00:26:53,167,42,...,1.01,0.00,NaN,0.00,8.63,N,N,,N,N
998,998,HV0003,B02512,B02512,2021-01-01 00:28:47,2021-01-01 00:33:39,2021-01-01 00:35:39,2021-01-01 00:42:59,116,116,...,0.96,0.00,NaN,0.00,9.11,N,N,,N,N
999,999,HV0003,B02512,B02512,2021-01-01 00:39:58,2021-01-01 00:43:35,2021-01-01 00:44:54,2021-01-01 01:15:59,116,132,...,4.42,0.00,NaN,0.00,39.77,N,N,,N,N

In [5]:
df_pandas.head()

,Unnamed: 0,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,0,HV0003,B02682,B02682,2021-01-01 00:28:09,2021-01-01 00:31:42,2021-01-01 00:33:44,2021-01-01 00:49:07,230,166,...,1.98,2.75,NaN,0.00,14.99,N,N,,N,N
1,1,HV0003,B02682,B02682,2021-01-01 00:45:56,2021-01-01 00:55:19,2021-01-01 00:55:19,2021-01-01 01:18:21,152,167,...,1.63,0.00,NaN,0.00,17.06,N,N,,N,N
2,2,HV0003,B02764,B02764,2021-01-01 00:21:15,2021-01-01 00:22:41,2021-01-01 00:23:56,2021-01-01 00:38:05,233,142,...,1.25,2.75,NaN,0.94,12.98,N,N,,N,N
3,3,HV0003,B02764,B02764,2021-01-01 00:39:12,2021-01-01 00:42:37,2021-01-01 00:42:51,2021-01-01 00:45:50,142,143,...,0.70,2.75,NaN,0.00,7.41,N,N,,N,N
4,4,HV0003,B02764,B02764,2021-01-01 00:46:11,2021-01-01 00:47:17,2021-01-01 00:48:14,2021-01-01 01:08:42,143,78,...,2.41,2.75,NaN,0.00,22.44,N,N,,N,N

In [26]:
df_pandas.dtypes
#uses the output to prepare the schema for next step

Unnamed: 0                int64
hvfhs_license_num        object
dispatching_base_num     object
originating_base_num     object
request_datetime         object
on_scene_datetime        object
pickup_datetime          object
dropoff_datetime         object
PULocationID              int64
DOLocationID              int64
trip_miles              float64
trip_time                 int64
base_passenger_fare     float64
tolls                   float64
bcf                     float64
sales_tax               float64
congestion_surcharge    float64
airport_fee             float64
tips                    float64
driver_pay              float64
shared_request_flag      object
shared_match_flag        object
access_a_ride_flag       object
wav_request_flag         object
wav_match_flag           object
dtype: object

In [7]:
## crete a spark dataframe
spark.createDataFrame(df_pandas).schema

/home/pedro/spark/spark-3.4.2-bin-hadoop3/python/pyspark/sql/pandas/conversion.py:479: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if should_localize and is_datetime64tz_dtype(s.dtype) and s.dt.tz is not None:

StructType([StructField('Unnamed: 0', LongType(), True), StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('originating_base_num', StringType(), True), StructField('request_datetime', StringType(), True), StructField('on_scene_datetime', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('trip_miles', DoubleType(), True), StructField('trip_time', LongType(), True), StructField('base_passenger_fare', DoubleType(), True), StructField('tolls', DoubleType(), True), StructField('bcf', DoubleType(), True), StructField('sales_tax', DoubleType(), True), StructField('congestion_surcharge', DoubleType(), True), StructField('airport_fee', DoubleType(), True), StructField('tips', DoubleType(), True), StructField('driver_pay', DoubleType(), True), StructField('shared_request_flag', StringType(), True), StructField('shared_match_flag', StringType(), True), StructField('access_a_ride_flag', StringType(), True), StructField('wav_request_flag', StringType(), True), StructField('wav_match_flag', StringType(), True)])

In [8]:
from pyspark.sql import types

In [11]:
schema = types.StructType(
	[
		types.StructField('Unnamed: 0', types.LongType(), True), 
		types.StructField('hvfhs_license_num', types.StringType(), True), 
		types.StructField('dispatching_base_num', types.StringType(), True), 
		types.StructField('originating_base_num', types.StringType(), True), 
		types.StructField('request_datetime', types.StringType(), True), 
		types.StructField('on_scene_datetime', types.StringType(), True), 
		types.StructField('pickup_datetime', types.TimestampType(), True), 
		types.StructField('dropoff_datetime', types.TimestampType(), True), 
		types.StructField('PULocationID', types.IntegerType(), True), 
		types.StructField('DOLocationID', types.IntegerType(), True), 
		types.StructField('trip_miles', types.DoubleType(), True), 
		types.StructField('trip_time', types.LongType(), True), 
		types.StructField('base_passenger_fare', types.DoubleType(), True), 
		types.StructField('tolls', types.DoubleType(), True), 
		types.StructField('bcf', types.DoubleType(), True), 
		types.StructField('sales_tax', types.DoubleType(), True), 
		types.StructField('congestion_surcharge', types.DoubleType(), True), 
		types.StructField('airport_fee', types.DoubleType(), True), 
		types.StructField('tips', types.DoubleType(), True), 
		types.StructField('driver_pay', types.DoubleType(), True), 
		types.StructField('shared_request_flag', types.StringType(), True), 
		types.StructField('shared_match_flag', types.StringType(), True), 
		types.StructField('access_a_ride_flag', types.StringType(), True), 
		types.StructField('wav_request_flag', types.StringType(), True), 
		types.StructField('wav_match_flag', types.StringType(), True)
	]
)

In [27]:
#reading the csv file with a specified schema
df = spark.read \
    .option('header', 'true') \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-01.csv')

In [22]:
df.head(5)

24/03/03 16:54:29 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , hvfhs_license_num, dispatching_base_num, originating_base_num, request_datetime, on_scene_datetime, pickup_datetime, dropoff_datetime, PULocationID, DOLocationID, trip_miles, trip_time, base_passenger_fare, tolls, bcf, sales_tax, congestion_surcharge, airport_fee, tips, driver_pay, shared_request_flag, shared_match_flag, access_a_ride_flag, wav_request_flag, wav_match_flag
 Schema: Unnamed: 0, hvfhs_license_num, dispatching_base_num, originating_base_num, request_datetime, on_scene_datetime, pickup_datetime, dropoff_datetime, PULocationID, DOLocationID, trip_miles, trip_time, base_passenger_fare, tolls, bcf, sales_tax, congestion_surcharge, airport_fee, tips, driver_pay, shared_request_flag, shared_match_flag, access_a_ride_flag, wav_request_flag, wav_match_flag
Expected: Unnamed: 0 but found:
CSV file: file:///home/pedro/de-camp-24/05-batch/code/fhvhv_tripdata_2021-01.csv

[Row(Unnamed: 0=0, hvfhs_license_num='HV0003', dispatching_base_num='B02682', originating_base_num='B02682', request_datetime='2021-01-01 00:28:09', on_scene_datetime='2021-01-01 00:31:42', pickup_datetime=datetime.datetime(2020, 12, 31, 23, 33, 44), dropoff_datetime=datetime.datetime(2020, 12, 31, 23, 49, 7), PULocationID=230, DOLocationID=166, trip_miles=5.26, trip_time=923, base_passenger_fare=22.28, tolls=0.0, bcf=0.67, sales_tax=1.98, congestion_surcharge=2.75, airport_fee=None, tips=0.0, driver_pay=14.99, shared_request_flag='N', shared_match_flag='N', access_a_ride_flag=' ', wav_request_flag='N', wav_match_flag='N'),
 Row(Unnamed: 0=1, hvfhs_license_num='HV0003', dispatching_base_num='B02682', originating_base_num='B02682', request_datetime='2021-01-01 00:45:56', on_scene_datetime='2021-01-01 00:55:19', pickup_datetime=datetime.datetime(2020, 12, 31, 23, 55, 19), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 18, 21), PULocationID=152, DOLocationID=167, trip_miles=3.65, trip_time=1382, base_passenger_fare=18.36, tolls=0.0, bcf=0.55, sales_tax=1.63, congestion_surcharge=0.0, airport_fee=None, tips=0.0, driver_pay=17.06, shared_request_flag='N', shared_match_flag='N', access_a_ride_flag=' ', wav_request_flag='N', wav_match_flag='N'),
 Row(Unnamed: 0=2, hvfhs_license_num='HV0003', dispatching_base_num='B02764', originating_base_num='B02764', request_datetime='2021-01-01 00:21:15', on_scene_datetime='2021-01-01 00:22:41', pickup_datetime=datetime.datetime(2020, 12, 31, 23, 23, 56), dropoff_datetime=datetime.datetime(2020, 12, 31, 23, 38, 5), PULocationID=233, DOLocationID=142, trip_miles=3.51, trip_time=849, base_passenger_fare=14.05, tolls=0.0, bcf=0.48, sales_tax=1.25, congestion_surcharge=2.75, airport_fee=None, tips=0.94, driver_pay=12.98, shared_request_flag='N', shared_match_flag='N', access_a_ride_flag=' ', wav_request_flag='N', wav_match_flag='N'),
 Row(Unnamed: 0=3, hvfhs_license_num='HV0003', dispatching_base_num='B02764', originating_base_num='B02764', request_datetime='2021-01-01 00:39:12', on_scene_datetime='2021-01-01 00:42:37', pickup_datetime=datetime.datetime(2020, 12, 31, 23, 42, 51), dropoff_datetime=datetime.datetime(2020, 12, 31, 23, 45, 50), PULocationID=142, DOLocationID=143, trip_miles=0.74, trip_time=179, base_passenger_fare=7.91, tolls=0.0, bcf=0.24, sales_tax=0.7, congestion_surcharge=2.75, airport_fee=None, tips=0.0, driver_pay=7.41, shared_request_flag='N', shared_match_flag='N', access_a_ride_flag=' ', wav_request_flag='N', wav_match_flag='N'),
 Row(Unnamed: 0=4, hvfhs_license_num='HV0003', dispatching_base_num='B02764', originating_base_num='B02764', request_datetime='2021-01-01 00:46:11', on_scene_datetime='2021-01-01 00:47:17', pickup_datetime=datetime.datetime(2020, 12, 31, 23, 48, 14), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 8, 42), PULocationID=143, DOLocationID=78, trip_miles=9.2, trip_time=1228, base_passenger_fare=27.11, tolls=0.0, bcf=0.81, sales_tax=2.41, congestion_surcharge=2.75, airport_fee=None, tips=0.0, driver_pay=22.44, shared_request_flag='N', shared_match_flag='N', access_a_ride_flag=' ', wav_request_flag='N', wav_match_flag='N')]

In [28]:
# define how many parquet partitions after, df.write.parquet()
df.repartition(24)

DataFrame[Unnamed: 0: bigint, hvfhs_license_num: string, dispatching_base_num: string, originating_base_num: string, request_datetime: string, on_scene_datetime: string, pickup_datetime: timestamp, dropoff_datetime: timestamp, PULocationID: int, DOLocationID: int, trip_miles: double, trip_time: bigint, base_passenger_fare: double, tolls: double, bcf: double, sales_tax: double, congestion_surcharge: double, airport_fee: double, tips: double, driver_pay: double, shared_request_flag: string, shared_match_flag: string, access_a_ride_flag: string, wav_request_flag: string, wav_match_flag: string]

In [ ]:
# save parquet partitioned files
df.write.parquet('fhvhv/2021/01')

In [29]:
df = spark.read.parquet('fhvhv/2021/01/')

In [30]:
df.printSchema()

root
 |-- Unnamed: 0: long (nullable = true)
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- originating_base_num: string (nullable = true)
 |-- request_datetime: string (nullable = true)
 |-- on_scene_datetime: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- trip_miles: double (nullable = true)
 |-- trip_time: long (nullable = true)
 |-- base_passenger_fare: double (nullable = true)
 |-- tolls: double (nullable = true)
 |-- bcf: double (nullable = true)
 |-- sales_tax: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)
 |-- tips: double (nullable = true)
 |-- driver_pay: double (nullable = true)
 |-- shared_request_flag: string (nullable = true)
 |-- shared_match_flag: string (nullable = true)
 |-- access_a_ride_flag: string (nullable = true)
 |-- wav_request_flag: string (nullable = true)
 |-- wav_match_flag: string (nullable = true)

In [44]:
# function package
from pyspark.sql import functions as F

In [ ]:
F.to_date()

In [ ]:
# withColumn() - adds a new column to the df
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.pickup_datetime)) \
    .select('pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID') \
    .show()

In [45]:
# simulation of some very specific business logic
def crazy_stuff(base_num):
    num = int(base_num[1:])
    if num % 7 == 0:
        return f's/{num:03x}'
    elif num % 3 == 0:
        return f'a/{num:03x}'
    else:
        return f'e/{num:03x}'

In [46]:
crazy_stuff('B02884')

's/b44'

In [47]:
crazy_stuff_udf = F.udf(crazy_stuff, returnType=types.StringType())

In [49]:
# withColumn() - adds a new column to the df
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.pickup_datetime)) \
    .withColumn('base_id', crazy_stuff_udf(df.dispatching_base_num)) \
    .select('base_id','pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID') \
    .show()

+-------+-----------+------------+------------+------------+
|base_id|pickup_date|dropoff_date|PULocationID|DOLocationID|
+-------+-----------+------------+------------+------------+
|  e/9ce| 2021-01-10|  2021-01-10|          53|         250|
|  e/9ce| 2021-01-10|  2021-01-10|         225|          17|
|  e/b38| 2021-01-10|  2021-01-10|          61|         177|
|  e/b38| 2021-01-10|  2021-01-10|         177|         225|
|  e/b38| 2021-01-10|  2021-01-10|          17|          35|
|  e/b3e| 2021-01-10|  2021-01-10|          25|         165|
|  e/b3e| 2021-01-10|  2021-01-10|          22|          76|
|  e/b38| 2021-01-10|  2021-01-10|          16|          64|
|  e/b38| 2021-01-10|  2021-01-10|         191|         191|
|  e/9ce| 2021-01-10|  2021-01-10|          89|         188|
|  e/b30| 2021-01-10|  2021-01-10|          37|          85|
|  e/b30| 2021-01-10|  2021-01-10|         188|         177|
|  e/9ce| 2021-01-10|  2021-01-10|          97|          89|
|  e/9ce| 2021-01-10|  2021-01-10|          85|          65|
|  e/b38| 2021-01-10|  2021-01-10|         100|          72|
|  e/b38| 2021-01-10|  2021-01-10|          72|         206|
|  a/b37| 2021-01-10|  2021-01-10|          22|         150|
|  e/9ce| 2021-01-10|  2021-01-10|         226|         226|
|  e/b30| 2021-01-10|  2021-01-10|         260|         226|
|  e/b30| 2021-01-10|  2021-01-10|         141|         202|
+-------+-----------+------------+------------+------------+
only showing top 20 rows

In [39]:
df.select('pickup_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID') \
    .filter(df.hvfhs_license_num == 'HV0003') \
    .show()   
#.show()# .take(5) # .head()

+-------------------+-------------------+------------+------------+
|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|
+-------------------+-------------------+------------+------------+
|2021-01-10 02:14:32|2021-01-10 02:23:08|          61|         177|
|2021-01-10 02:27:48|2021-01-10 02:37:42|         177|         225|
|2021-01-10 02:56:13|2021-01-10 03:11:59|          17|          35|
|2021-01-10 02:23:28|2021-01-10 02:46:58|          25|         165|
|2021-01-10 02:55:27|2021-01-10 03:22:00|          22|          76|
|2021-01-10 02:13:31|2021-01-10 02:18:40|          16|          64|
|2021-01-10 02:40:36|2021-01-10 02:45:49|         191|         191|
|2021-01-10 02:05:07|2021-01-10 02:26:25|          37|          85|
|2021-01-10 02:58:41|2021-01-10 03:13:50|         188|         177|
|2021-01-10 02:00:41|2021-01-10 02:35:41|         100|          72|
|2021-01-10 02:39:21|2021-01-10 03:17:10|          72|         206|
|2021-01-10 02:00:23|2021-01-10 02:12:29|          22|         150|
|2021-01-10 02:10:24|2021-01-10 02:15:30|         260|         226|
|2021-01-10 02:39:25|2021-01-10 02:49:27|         141|         202|
|2021-01-10 02:35:53|2021-01-10 02:44:48|         225|          61|
|2021-01-10 02:12:48|2021-01-10 02:22:41|          22|          14|
|2021-01-10 02:30:15|2021-01-10 02:56:19|          14|         124|
|2021-01-10 02:34:23|2021-01-10 02:39:05|         114|          90|
|2021-01-10 02:44:58|2021-01-10 02:59:23|          90|          25|
|2021-01-10 02:35:26|2021-01-10 02:39:30|         164|         137|
+-------------------+-------------------+------------+------------+
only showing top 20 rows